body {
    font-family: Arial, Helvetica, sans-serif;
}

/* score sheet */
table {
    border-collapse: collapse;
    width: 480px;
    margin: 10px auto;
}

caption {
    font-weight: bold;
}

caption, th{
    text-align: left;
}

th, td {
    font-size: .8em;
    border: 1px solid black;
    padding: 3px 5px;
}

#scoresheet :first-child {
    border-left: none;
}
#scoresheet :last-child {
    border-right: none;
}

em {
    font-size: .7em;
}

#scoresheet td:last-child {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    width: 30px;
    padding-right: 20px;
}

.score {
    color: grey;
    cursor: pointer;
}
.tmpLock, .lock {
    color: black;
    font-weight: bold;
    background-color: lightsalmon;
}
.lock {
    background-color: lightgreen;
    cursor: not-allowed;
}

/* game elements */
#message {
    width: 300px;
    margin: 5px auto;
    padding: 10px;
    border-width: 5px;
    border-style: double;
    /* font-family: 'Times New Roman', Times, serif; */
    font-style: italic;
    text-align: center;
}

.warning {
    border-color: orange;
}
.error {
    border-color: red;
}
.party {
    border-color: transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

aside {
    text-align: center;
}

button {
    display: inline-block;
    /* margin: 0 auto; */
}

#roll, #roll th {
    text-align: center;
}